---
import BaseLayout from "@layouts/BaseLayout.astro";
import TimeLineElement from "@components/cv/TimeLine.astro";
import HorizontalCard from "@components/HorizontalCard.astro";
const basePath = import.meta.env.BASE_URL;
---

<BaseLayout>
    <div class="w-full mb-10">
        <div class="mb-5">
            <div class="text-3xl w-full font-bold">Education</div>
        </div>

        <HorizontalCard
            title="Engineer's Degree"
            download="Ask me for the title"
            img=`${basePath}/university.svg`
            desc="2007-2013 UNEXPO - Caracas / Venezuela"
            url=`${basePath}/university.svg`
        />
    </div>

    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Courses</div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 mb-10 gap-4">
        <HorizontalCard
            title="LLM Engineering"
            url=`${basePath}/llm_eng.jpg`
            download="llm_eng.jpg"
            img=`${basePath}/llm_eng.jpg`
            desc="42.5 hours"
        />
        <HorizontalCard
            title="Ethical Hacking"
            url=`${basePath}/ethical_hacking.jpg`
            download="ethical_hacking.jpg"
            img=`${basePath}/ethical_hacking.jpg`
            desc="22 hours"
        />
        <HorizontalCard
            title="Machine Learning: Python"
            url=`${basePath}/machine_learning_python.jpg`
            download="machine_learning_python.jpg"
            img=`${basePath}/machine_learning_python.jpg`
            desc="31 hours"
        />
        <HorizontalCard
            title="Deep Learning: Python"
            url=`${basePath}/deep_learning_python.jpg`
            download="deep_learning_python.jpg"
            img=`${basePath}/deep_learning_python.jpg`
            desc="27 hours"
        />
        <HorizontalCard
            title="AWS Cloud"
            url=`${basePath}/AWS.jpg`
            download="AWS_learning.jpg"
            img=`${basePath}/AWS.jpg`
            desc="15 hours"
        />
        <HorizontalCard
            title="Legacy Flutter"
            url=`${basePath}/flutter_front.jpg`
            download="flutter_front.jpg"
            img=`${basePath}/flutter_front.jpg`
            desc="38 hours"
        />
        <HorizontalCard
            title="React MERN Stack"
            url=`${basePath}/react_front.jpg`
            download="react_front.jpg"
            img=`${basePath}/react_front.jpg`
            desc="54 hours"
        />
        <HorizontalCard
            title="Angular MEAN Stack"
            url=`${basePath}/angular_cert.jpg`
            download="angular_cert.jpg"
            img=`${basePath}/angular_cert.jpg`
            desc="21 hours"
        />
    </div>
</BaseLayout>
