---
import BaseLayout from "@layouts/BaseLayout.astro";
import TimeLineElement from "@components/cv/TimeLine.astro";
import HorizontalCard from "@components/HorizontalCard.astro";
const basePath = import.meta.env.BASE_URL;
---

<BaseLayout>
    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Personal Projects</div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 mb-10 gap-4">
        <HorizontalCard
            title="Restaurant Menu Builder"
            url=`${basePath}/astro.png`
            download="astro.png"
            img=`${basePath}/astro.png`
            desc="Atro/React/Supabase"
            isLink={false}
        />
        <HorizontalCard
            title="Assets Management App"
            url=`${basePath}/c_sharp.png`
            download="machine_learning_python.jpg"
            img=`${basePath}/c_sharp.png`
            desc=".NET Standard"
            isLink={false}
        />
        <HorizontalCard
            title="Routing Mobile App"
            url=`${basePath}/flutter.png`
            download="flutter.jpg"
            img=`${basePath}/flutter.png`
            desc=".NET 8/Flutter"
            isLink={false}
        />
        <HorizontalCard
            title="Zebra RFID Service"
            url=`${basePath}/c_sharp.png`
            download="c_sharp.jpg"
            img=`${basePath}/c_sharp.png`
            desc=".NET 8"
            isLink={false}
        />
        <HorizontalCard
            title="Places Manager"
            url=`${basePath}/flutter.png`
            download="flutter.png"
            img=`${basePath}/flutter.png`
            desc=".NET 8/Flutter"
            isLink={false}
        />
        <HorizontalCard
            title="Statistics Manager"
            url=`${basePath}/c_sharp.png`
            download="c_sharp.jpg"
            img=`${basePath}/c_sharp.png`
            desc=".NET Desktop"
            isLink={false}
        />
    </div>
</BaseLayout>
